<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>422197167135-nh3nb56s4h10iat9f5l769n70mmm17lp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422197167135-nh3nb56s4h10iat9f5l769n70mmm17lp</string>
	<key>API_KEY</key>
	<string>AIzaSyAPn10BTraE5stfHe2akuMzW9TjbBCGYWk</string>
	<key>GCM_SENDER_ID</key>
	<string>422197167135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>karpcorp</string>
	<key>PROJECT_ID</key>
	<string>fir-app-17e8c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-17e8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422197167135:ios:8b4950339e50514418812a</string>
</dict>
</plist>